@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1>Stop Hunger Now</h1>
    <img src="~/Images/StopHungerNow-e1348100260412-610x400.jpg"  />
</div>

<h1>About Us</h1>
<h3>Stop Hunger Now Southern Africa provides the opportunity to help eradicate hunger through a fun and fulfilling volunteer experience led by passionate people that supports a measurable, outcomes-based educational approach leading to powerful change. 
    Corporations: We offer a financially convenient corporate social investment opportunity that builds morale and creates a powerful impact at a reasonable cost.
</h3>
<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading"style="background-color:red;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                    Vision
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Our vision is a Southern Africa without hunger. Our mission is transformation through education.
                Educating our donors, beneficiaries, volunteers and suppliers about the role they play in eradicating child hunger.
                Donated food is used to stimulate and encourage measurable results in Early Childhood Development centres.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"style="background-color:red;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Mission
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                WE TRANSFORM THE LIVES OF CHILDREN AFFECTED BY FACIAL ABNORMALITIES AND SEVERE BURNS THROUGH THE BEST POSSIBLE SURGICAL AND PSYCHOLOGICAL CARE.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"style="background-color:red;">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Activities
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>Children</li>
                    <li>Nutrition</li>
                    <li>Poverty</li>
                    <li> Volunteerism</li>
                    <li>
                        Early Childhood Development
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


 
