
@{
    ViewBag.Title = "Stories";
}

<p style="background-image: url('/Images/samantha-gades-TUeSlMWC50w-unsplash.jpg');">
    <h2>Stories</h2>

    <img src="~/Images/STOP-HUNGER-NOW-Mandela-Day-Cape-Town-2016.png" />

<p>
    Stop Hunger Now (SHN) is a international hunger relief organization, having received a four-star rating by Charity Navigators for its excellent management of resources. 
    The organization is primarily sponsored primarily by corporate and individual donations.

    With the establishment’s headquarters located in Johannesburg the organization has established itself as a powerful combatant against global hunger.
</p>

<p>The organisation distributes resources such as food, medicine, and other supplies to other provinces and countries</p> 
<p>SHN aims to reduce the extent of suffering and plight in the world. 

    In addition to raising monetary funds for hunger relief, ever since 2005, the organization has also taken part in the production and distribution of meal packages. These packages are rich in necessary nutrients such as soy, vegetables, and 21 crucial minerals and vitamins needed for child grouwth and nutrition.
</p>
<p>This whole experience of particicipation and the events that take place also simultaneously educate volunteers about international hunger.

    Furthermore, since the establishment’s adoption of the meal-packaging program, SHN has packaged and provided 127,964,644 meal packages. Approximately 70 percent of these meals are allocated for transformational development programs such as schools, orphanages and clinics, aiming to eradicate hunger at its source by promoting education and autonomy.

    Not only do these meal packages provide subsistence for impoverished communities, they also deter activity that often ensnares youth in the cycle of poverty.

    After a good 15 years of operation, through fundraisers and its unique meal-packaging program, SHN has upheld its vow to help reduce world hunger one meal at a time.
</p>
